Repository rapidsai/cugraph-docs, pull requests merged in 2025-07, with the labels that each got.

#137 add docs on CI workflow inputs
  .github/workflows/build.yaml
Labels: doc, non-breaking

#136 Update telemetry-summarize
  .github/workflows/pr.yaml
Labels: bug, non-breaking

#134 Fixing links issues with Sphinx
  conda/environments/all_cuda-129_arch-x86_64.yaml
  dependencies.yaml
  docs/cugraph-docs/source/api_docs/cugraph-pyg/cugraph_pyg.old
  docs/cugraph-docs/source/api_docs/cugraph-pyg/cugraph_pyg.rst
  docs/cugraph-docs/source/graph_support/algorithms.md
  docs/cugraph-docs/source/graph_support/algorithms/Centrality.md
  docs/cugraph-docs/source/graph_support/algorithms/Similarity.md
  docs/cugraph-docs/source/graph_support/graph_algorithms.rst
Labels: doc, non-breaking

#139 Adds Commmunity and Louvain landing pages
  conda/environments/all_cuda-129_arch-x86_64.yaml
  dependencies.yaml
  docs/cugraph-docs/source/_static/zachary_graph_clusters.png
  docs/cugraph-docs/source/_static/zachary_graph_triangles.png
  docs/cugraph-docs/source/conf.py
  docs/cugraph-docs/source/graph_support/algorithms.md
  docs/cugraph-docs/source/graph_support/algorithms/Centrality.md
  docs/cugraph-docs/source/graph_support/algorithms/Community.md
  docs/cugraph-docs/source/graph_support/algorithms/jaccard_similarity.md
  docs/cugraph-docs/source/graph_support/algorithms/k_truss.md
  docs/cugraph-docs/source/graph_support/algorithms/leiden_community.md
  docs/cugraph-docs/source/graph_support/algorithms/louvain_community.md
  docs/cugraph-docs/source/graph_support/algorithms/spectral_clustering.md
  docs/cugraph-docs/source/graph_support/algorithms/subgraph_extraction.md
  docs/cugraph-docs/source/graph_support/algorithms/triangle_counting.md
  docs/cugraph-docs/source/graph_support/property_graph.md
  docs/cugraph-docs/source/nx_cugraph/how-it-works.md
Labels: doc, non-breaking

#141 Removing CUDA 11 references and fixing outdated wholegraph info
  docs/cugraph-docs/source/installation/getting_cugraph.md
  docs/cugraph-docs/source/installation/source_build.md
  docs/cugraph-docs/source/nx_cugraph/installation.md
  docs/cugraph-docs/source/tutorials/basic_cugraph.md
  docs/cugraph-docs/source/tutorials/cugraph_notebooks.md
  docs/cugraph-docs/source/wholegraph/installation/getting_wholegraph.md
  docs/cugraph-docs/source/wholegraph/installation/source_build.md
Labels: doc, non-breaking

#143 added new blogs for 2025 and fixed cuda docs per review comment
  docs/cugraph-docs/source/graph_support/gnn_support.rst
  docs/cugraph-docs/source/nx_cugraph/installation.md
  docs/cugraph-docs/source/tutorials/cugraph_blogs.rst
Labels: doc, non-breaking

#147 Merge branch-25.08 into branch-25.10
  ci/release/update-version.sh
  conda/environments/all_cuda-129_arch-x86_64.yaml
  dependencies.yaml
  docs/cugraph-docs/source/graph_support/gnn_support.rst
  docs/cugraph-docs/source/installation/getting_cugraph.md
  docs/cugraph-docs/source/nx_cugraph/installation.md
  docs/cugraph-docs/source/sphinxext/github_link.py
  docs/cugraph-docs/source/tutorials/cugraph_blogs.rst
  docs/cugraph-docs/source/wholegraph/basics/wholegraph_intro.md
  docs/cugraph-docs/source/wholegraph/installation/container.md
Labels: improvement, non-breaking
